.main {
    padding: 10px 10px;
}

.contents-item h1 {
    background-color: dodgerblue;
    color: white;
    font-size: 100px;
}

.contents-item h2 {
    background-color: powderblue;
    color: black;
    font-size: 90px;
}

.contents-item h3 {
    background-color: lightblue color: black;
    font-size: 60px;
}

.contents-item {
    position: relative;
}

.contents-item img {
    width: 80%;
    height: 80%;
}