.header {
    padding: 10px 10px;
}

.header-logo {
    font-size: 20px;
}

.header-logo2 {
    font-size: 15px;
}

.header-list li {
    list-style: none;
    float: left;
    background-color: cornflowerblue;
    color: ivory;
    color: black;
}

.main {
    padding: 10px 10px;
}

.contents-item h1 {
    background-color: dodgerblue;
    color: white;
    font-size: 50px;
}

.contents-item h2 {
    background-color: powderblue;
    color: black;
    font-size: 30px;
}

.contents-item h3 {
    background-color: lightblue;
    color: black;
    font-size: 20px;
}

.contents-item {
    position: relative;
}

.contents-item img {
    width: 80%;
    height: 80%;
}

.footer {
    padding: 10px 10px;
}

.footer-logo {
    float: left;
    font-size: 15px;
}

.footer-list li {
    list-style: none;
    float: right;
    color: deepskyblue;
}