.header {
    padding: 10px 10px;
}

.header-list li {
    list-style: none;
    float: right;
    background-color: cadetblue;
    color: ivory;
    color: black;
    padding: 10px, 10px;
    margin: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-logo {
    font-size: 20px;
}

.header-logo2 {
    font-size: 15px;
}

.main {
    padding: 10px 10px;
}

.contents-item h1 {
    background-color: dodgerblue;
    color: white;
    font-size: 35px;
    padding: 10px;
    margin: 20px;
}

.contents-item h2 {
    background-color: powderblue;
    color: black;
    font-size: 30px;
    padding: 15px;
    margin: 5px;
    border-bottom: royalblue;
}

.contents-item h3 {
    background-color: lightblue;
    color: black;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}

.contents-item {
    position: relative;
}

.contents-item img {
    width: 80%;
    height: 80%;
}

.footer {
    padding: 10px 10px;
}

.footer-logo {
    float: left;
    font-size: 15px;
}

.footer-list li {
    list-style: square;
    float: right;
    color: deepskyblue;
    padding: 20px;
}